:root  > * {
  --md-primary-fg-color:#0B1D3A;
}

.md-nav__link--active {
  color: #56AFB2 !important;
}

.md-nav__link:hover {
  color: #56AFB2 !important;
}

.md-typeset a {
  color: #56AFB2;
}

.md-typeset a:hover {
  color: #00C2FF;
}